/*
 Lewin Hafner
 Lewin.Hafner4@stud.bbbaden.ch
*/
/* 
    Created on : 27.01.2020, 09:51:03
    Author     : Lewin Hafner
*/

.testtext{
    font-size: 20px;
    color: #FF1744;
}

.background-color{
    background-color: #00796b;
}

